* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.path-start {
  -webkit-transition:stroke-dashoffset 1s ease-in;
  -moz-transition:stroke-dashoffset 1s ease-in;
  -o-transition:stroke-dashoffset 1s ease-in;
  transition:stroke-dashoffset 1s ease-in;
}
