* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 25px;
  left: 0px;
}
.path-start {
  -webkit-transition:stroke-dashoffset .1s ease-in;
  -moz-transition:stroke-dashoffset .1s ease-in;
  -o-transition:stroke-dashoffset .1s ease-in;
  transition:stroke-dashoffset .1s ease-in;
}
.leaflet-marker-icon {
  -webkit-animation: FadeIn .7s; /* Safari 4+ */
  -moz-animation:    FadeIn .7s; /* Fx 5+ */
  -o-animation:      FadeIn .7s; /* Opera 12+ */
  animation:         FadeIn .7s;
}

@-webkit-keyframes FadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes FadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes FadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes FadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  height: 0px;
  background: rgba(0,0,0,.6);
  z-index: 1004;
  display: none;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
  color: #FFFFFF;
}
.overlay > img {
  left: 50%;
  top: 50%;
  position: absolute;
}
.overlay > .arrow {
  width: 30px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  position: absolute;
  font-size: 40px;
  line-height: 50px;
}
.overlay > #leftArrow:before {
  content: "\f172";
}
.overlay > #rightArrow:before {
  content: "\f173";
}
.overlay > .Icon {
  opacity: .4;
  -webkit-user-select: none;
}
.overlay > .Icon:hover {
  opacity: 1;
}
.overlay > .close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 35px;
  line-height: 40px;
  text-align: right;
}
.overlay > .close:before {
  content: "\f045";
}

/* tweet gallery */
.gallery {
  width: 301px;
  margin-left: -10px;
  height: 145px;
}
.gallery .tweet-image {
  width: 140px;
  height: 70px;
  float: left;
  margin: 5px;
  overflow: hidden;
}
.gallery[data-images="1"] .tweet-image {
  width: 285px !important;
  height: 143px;
}
@font-face {
  font-family: 'rosettaicons';
  src: url('https://abs.twimg.com/a/1421172151/font/rosetta-icons-Regular.eot');
  src: url('https://abs.twimg.com/a/1421172151/font/rosetta-icons-Regular.eot?#iefix') format('embedded-opentype'), url('https://abs.twimg.com/a/1421172151/font/rosetta-icons-Regular.woff') format('woff'), url('../../font/rosetta-icons-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal
}
.Icon {
  background: transparent;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline
}

.Icon:before {
  display: block;
  font-family: "rosettaicons";
  font-weight: normal;
  font-style: normal;
  text-align: center;
  -webkit-font-smoothing: antialiased
}
#loadingCover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  height: 0px;
  background: #000000 url(../images/loading.gif) no-repeat center center;
  z-index: 1004;
  display: block;
  opacity: 1;
  -webkit-transition: opacity .75s ease-in;
  -moz-transition: opacity .75s ease-in;
  -o-transition: opacity .75s ease-in;
  transition: opacity .75s ease-in;
  color: #FFFFFF;
}
