#timeline {
  width: 100%;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #000000;
  margin: 0;
  padding: 0;
  list-style: none;
}
#timeline > .now {
  width: 2px;
  background: #ff0000;
  z-index: 1003;
}
#timeline > .tweet {
  width: 3px;
  background: #00ff00;
  z-index: 998;
}
#timeline > .flight {
  background: #00ff00;
  z-index: 997;
}
#timeline > .ferry {
  background: #ff0000;
  z-index: 996;
}
#timeline > .hotel {
  background: #0000ff;
  z-index: 995;
}
#timeline > li {
  position: absolute;
  top: 0px;
  height: 100%;
}
#timeline > li.selected {
  background: #ffffff !important;
}
.popup-container {
  width: 300px;
  height: auto;
  position: absolute;
  z-index: 1002;
  color: rgba(0, 0, 0, 0.74902);
  top: 21px;
}
.popup-container > .leaflet-popup-tip-container {
  margin-bottom: -7px;
  -webkit-transform: rotate(90deg);
}
.popup-body {
  padding: 10px;
  background: #ffffff;
  border-radius: 4px;
}
.popup-container a {
  text-decoration: none;
  font-weight: normal;
  color: #3887BE;
}
.popup-container h2 {
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 10px;
}
.popup-container p {
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 10px;
}
.popup-container .close {
  top: 18px;
  right: 8px;
  position: absolute;
  width: 12px;
  height: 12px;
  color: #000000;
}
.popup-container .close:before {
  content: "\f045";
}
